In [2]:
import pandas as pd
import json

In [43]:
json_data = '[ { “date”: “2021-01-01”, “amount”: 1000, “category”: “income”, “description”: “salary” }, { “date”: “2021-01-02”, “amount”: -50, “category”: “groceries”, “description”: “milk and eggs” }, { “date”: “2021-01-03”, “amount”: -100, “category”: “entertainment”, “description”: “movie tickets” }, { “date”: “2021-01-04”, “amount”: -20, “category”: “transportation”, “description”: “bus fare” }, { “date”: “2021-01-05”, “amount”: -200, “category”: “bills”, “description”: “electricity bill” }, { “date”: “2021-01-06”, “amount”: -30, “category”: “groceries”, “description”: “bread and cheese” }, { “date”: “2021-01-07”, “amount”: -150, “category”: “clothing”, “description”: “new shoes” }, { “date”: “2021-01-08”, “amount”: -40, “category”: “healthcare”, “description”: “prescription drugs” }, { “date”: “2021-01-09”, “amount”: -80, “category”: “education”, “description”: “online course” }, { “date”: “2021-01-10”, “amount”: -60, “category”: “entertainment”, “description”: “pizza delivery” }, {“date”: “2021-01-11”, “amount”: -25, “category”: “transportation”, “description”: “taxi ride” }, { “date”: “2021-01-12”, “amount”: -300, “category”:“bills”, “description”:“internet bill” }, { “date”:“2021-01-13”, “amount”:-50, “category”:“groceries”, “description”:“fruits and vegetables” } ]'

# Replacing invalid double quotes with valid ones
json_data = json_data.replace("“", "\"").replace("”", "\"")

# Loading JSON data
data = json.loads(json_data)

# Pretty print the formatted JSON
formatted_json = json.dumps(data, indent=4)

# Declared top row as headers to further convert json to csv
headers = data[0].keys()

# Writing the formatted JSON to a new file
with open('formatted_data.json', 'w') as json_file:
    json_file.write(formatted_json)

In [44]:
# Converting this json file into new csv file 
import csv
with open('file.csv', 'w') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    writer.writeheader()
    writer.writerows(data)

In [54]:
# Loading the dataset file
df = pd.read_csv('file.csv')

# Printing first file rows
df.head()

         date  amount        category       description
0  2021-01-01    1000          income            salary
1  2021-01-02     -50       groceries     milk and eggs
2  2021-01-03    -100   entertainment     movie tickets
3  2021-01-04     -20  transportation          bus fare
4  2021-01-05    -200           bills  electricity bill

In [55]:
#Now adding more dumy data to our dataset using Faker